<h2>Get In Touch</h2>
<p>Feel free to reach out to me with any questions, feedback, or collaboration opportunities. I would love to hear from you!</p>
<div class="row">
  <div class="8u 12u$(small)">
    <form method="post" action="#">
      <div class="row uniform 50%">
        <div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
        <div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
        <div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
      </div>
    </form>
    <ul class="actions">
      <li><input type="submit" value="Send Message" /></li>
    </ul>
  </div>
  <div class="4u$ 12u$(small)">
    <ul class="labeled-icons">
      <li>
        <h3 class="icon fa-home"><span class="label">Address</span></h3>
	Willowdale, Toronto<br />
        Ontario, M2M 4H9 <br />
        Canada
      </li>
      <li>
        <h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
        647-355-0239
      </li>
      <li>
        <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
        <a href="#">ken.ren98@gmail.com</a>
      </li>
    </ul>
  </div>
</div>
