<header id="header">
  <div class="inner">
    <a href="<%- url_for() -%>" class="image avatar"><img src="<%- gravatar( theme.gravatar_email ) %>" alt="" /></a>
    <h1><strong>Dexuan Ren (Ken Ren)</strong><br>Full Stack Developer / Datacenter Technician and Tech Enthusiast. Using VM and Cloud technology everyday. Also the Co-Founder of <a href="https://mr-leaves.com">Mr.Leaves Electronics Inc</a>.</h1>
  </div>
</header>
